@{

}


<p>
    <div class="row">
        <div class="col-md-4">
            @*Headline level 2 and background photo*@<img src="https://farm4.staticflickr.com/3791/12951923193_22bfc136c9_n.jpg" width="1000" height="500">
            @*form code beginning*@
                                                                           <form action="action_page.php">
                                                                               First name: <input type="text" value=""><br>
                                                                               Last name: <input type="text" name="lastname" value=""><br>
                                                                               Email: <input type="text" name="" value=""><br>
                                                                               Address: <input type="text" name="" value=""><br>
                                                                               City: <input type="text" name="" value=""><br>
                                                                               State: <input type="text" name="" value=""><br>
                                                                               Zip Code: <input type="text" name="" value=""><br>
                                                                               <input type="radio" name="gender" value="male" checked> Male<br>
                                                                               <input type="radio" name="gender" value="female"> Female<br>
                                                                               <input type="radio" name="gender" value="other"> Other<br>

                                                                               <br /><button type="submit" formaction="http://localhost:62986/Home/Complete"></button>
                                                                             
                                                                           </form>
</p>
