@{
    ViewBag.Title = "Registration Complete";
}

    <img src="https://farm4.staticflickr.com/3800/11950860215_3e0a5af2d9_n.jpg" style="height:700px; width:1000px">


    <h1>You're In the Cup of Life Club!</h1>                @*Registration complete page*@

    @ViewBag.Firstname



