@{
    ViewBag.Title = "Home Page";
}

<div class="Times">
    <div align="center">

        <div class="centered"><h1><div align="center">Welcome to Cup of Life Coffee</h1></div>

        <div align="center">
<img src="https://farm5.staticflickr.com/4195/35086497975_614b6e5d6b_n.jpg" width="320" height="200"> @*back ground image*@

            <title>W3.CSS</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <body>

                <div class="w3-container">

                    <h1><div align="center">Where Caffeine, Reigns Supreme!</div></h1>
                </div>
                <p><h2>Specials of the Day</h2></p>
                <p><h2>Triple Shot Machiatto - 5.99</h2></p>
                <p><h2>Cappachino  3.99</h2></p>
                <p><h2>Triple hit, Half-whip, Double Dip, Expresso  6.99</h2></p>
                <h2>Honey Lemon Tea - 2.99</h2>
                <h2>French Vanilla Frappe - 3.99 </h2>
               




                <dl></dl>




</div>

    <a href="http://localhost:62986/Home/About">


</div>
