@{
    
}

<!DOCTYPE html>



<div class="row">
    <div class="col-md-4">
        <h2>Register here</h2>@*headline registration page*@


        <form action="Complete" method="get">@*redirects to complete page*@
            @*Form input code*@ 
            First name: <input type="text" name="Firstname"><br>
            Last name: <input type="text" name="lastname" value=""><br>
            Password: <input type="text" name="Password" value=""><br>
            <input type="radio" name="gender" value="male" checked> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
            <input type="radio" name="gender" value="other"> Other<br />
            <input type="submit" value="Submit"><br />@*submit button code*@
        </form>

        
